[submodule "chat"]
	path = chat
	url = https://github.com/recoupable/chat.git
[submodule "api"]
	path = api
	url = https://github.com/recoupable/api.git
[submodule "tasks"]
	path = tasks
	url = https://github.com/recoupable/tasks.git
[submodule "docs"]
	path = docs
	url = https://github.com/recoupable/docs.git
[submodule "database"]
	path = database
	url = https://github.com/recoupable/database.git
[submodule "remotion"]
	path = remotion
	url = https://github.com/recoupable/remotion.git
[submodule "bash"]
	path = bash
	url = https://github.com/recoupable/bash.git
