[submodule "Recoup-Chat"]
	path = Recoup-Chat
	url = https://github.com/Recoupable-com/Recoup-Chat.git
[submodule "Recoup-API"]
	path = Recoup-API
	url = https://github.com/Recoupable-com/Recoup-API.git
[submodule "Recoup-Docs"]
	path = Recoup-Docs
	url = https://github.com/Recoupable-com/docs.git
[submodule "Recoup-Tasks"]
	path = Recoup-Tasks
	url = https://github.com/Recoupable-com/Recoup-Tasks.git
[submodule "Recoup-Supabase"]
	path = Recoup-Supabase
	url = https://github.com/Recoupable-com/Recoup-Supabase.git
